<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Codilar\ApiDemo\Api\CalculatorInterface" type="Codilar\ApiDemo\Model\Calculator" />
    <preference for="Codilar\ApiDemo\Api\Data\CalculatorResultInterface" type="Codilar\ApiDemo\Model\Data\CalculatorResult" />
</config>